*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
  }
  body {
    display: grid;
    grid-template-rows: min-content auto min-content;
  }
  .container{
   background-color: black;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .grid{
    background-color: aliceblue;
    width: 100vw;
    min-height: 300px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   
  }
  .image{
    height: 250px;
   width: 350px;
   border-radius: 20px;
  }
  .imgcontainer{
    display: flex;
    align-items: center;
   
   flex-direction: column;
  }
